body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* Header */


.bgImg{
    background-image: url("/Assest/Image/bg_gradient.png");
    width: 100%;
     
}

.navMenu li{
    padding-right: 20px;
}
.navMenu a, .rightNav a{
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.rightNav li{
    padding-right: 20px;
}
.rightNav li:nth-child(2) a{
    background-color: #7854F7;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    
}



#menu{
    display: none;
}
/* Responsive Header*/

@media only screen and (max-width: 1140px) {
    .navMenu{
        justify-content:flex-end;
    }

}

@media only screen and (max-width: 992px) {
    .navMenu{
        display: none !important;
    }
    #menu{
        display: block;
    }
}

@media only screen and (max-width: 576px) {
    nav ~ div{
        display: none;
    }
    nav{
       text-align: center;
    }
}


/* Header Bottom */

.eInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eInfo h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 90px;
}
.eInfo  p{
    color: #94A2B3;
    font-size: 18px;
    line-height: 25px;
}
.ml-250{
    margin-left: 200px;
}
.stores{
    padding-top: 20px;
}

.stores a[href^="https"]{
    background: #7854F7;
    border-radius: 60px;
    color: white;
    padding: 10px 30px;
}
.stores span{
    color: #94A2B3;
}

@media  screen and (max-width: 1200px) {
    .eInfo{
        text-align: center;
 
        margin-bottom: 7em;
    }
    .ml-250{
        margin-left: 0px;
    }
    .stores{
        display: flex;
        flex-direction: column;
    }
    .stores a[href^="https"]{
        width: 50%;
        margin: auto;
    }
    .ml-250 h1{
        font-size: 20px;
        font-weight: 700;
        line-height: 40px;
    }
}

.infoEco h5{
    width: 40%;
    margin: auto;
    font-size: 55px;
    line-height: 70px;
    font-weight: 700;
    text-align: center;
    color: #272D4E;
}
@media  screen and (max-width: 962px) {
    .infoEco h5{
        font-size: 25px;
        line-height: 40px;
        font-weight: 700;
        text-align: center;
    }
}


/* Main */


.contain{
    width: 80%;
    margin: auto;
}

.wSize-400{
    width: 100%;
    height: auto;
}


.work{
    position: relative;
    padding: 0;
}
.work div img{
    position: absolute;
    top: 10px;
    left: -25px;
    width: 200px;
    height: auto;
}
.worksHead{
    width: 80%;
    margin: auto;
}
.worksHead h4{
    color: #272D4E;

}
.worksHead p{
    color: #94A2B3;
}